<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>194936597024-8itnpd52947dfvv13rcsmaqmn3eevta0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.194936597024-8itnpd52947dfvv13rcsmaqmn3eevta0</string>
	<key>API_KEY</key>
	<string>AIzaSyCf7HZj754_eVQGGomYbsM69T4ci6XcxRc</string>
	<key>GCM_SENDER_ID</key>
	<string>194936597024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.blog</string>
	<key>PROJECT_ID</key>
	<string>testblog-md</string>
	<key>STORAGE_BUCKET</key>
	<string>testblog-md.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:194936597024:ios:cd9fba24a6dab142c96a45</string>
</dict>
</plist>